


.userConteinet{
    cursor: pointer;
    background-color: rgba(97, 228, 251, 0.2);
    backdrop-filter: blur(10px);
    height: auto;
    width: 45%;
    max-width: 360px;
    margin: 10px;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 2px 2px 16px 0.5px black;
  
    border: 2px rgb(253, 253, 253, 0.0) solid;
  }
  
  .userConteinet:hover{
    border: 2px rgb(37, 6, 211) solid;
  
  }
    .userTable{
      display: flex;
      margin-top: 15px;
      padding: 0px;
      width: 75%;
      float: left;
      align-items: center;
      flex-wrap: wrap;  
      justify-content: space-evenly;
      font-weight: 800;
      max-height: 80%;
    }
  
    .userHeaderline{
      display: flex;
      width: 100%;
      background-color: rgb(169, 169, 169 , 0.2);
      box-shadow: 1px 2px 10px 0.5px black;
      align-items: center;
      font-size: 90%;
      position: relative;
    }
    .userHeaderline samp h3{ margin: 0;     font-weight: 800;
    }
    .userHeaderline samp {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }
  
    .headerMore{
      position: absolute;
      color: rgb(15, 27, 39);
      right: 10px;
      font-size: 160%;
      font-weight: 900;
      top: 0;
      padding: 0;
      padding: 3px;
      cursor: pointer;
      z-index: 3;
      transition: 0.3s ease-in-out;
    }

    .headerMore:hover{
      font-size: 170%;
      color:rgb(255, 0, 0);
    }

    .userInfoLine{
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-around
    }
    .userInfoLine samp {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: flex-start;
        }
        .userInfoLine samp h1 {
                      margin: 0; 
                      font-size: 100%;         
                      }
          .userInfoLine samp h3{ color: red; margin: 0; font-size: 100%;         
          }
    
    .userHeaderline img{
    border-radius: 50%;
    }
  
    .userTotal{
      width: 90%;
      padding: 8px;
      background-color: rgb(128, 128, 128, 0.3);
      margin: auto;
      margin-top: 10px;
      margin-bottom: 8px;
      border-radius: 6px;
      border-bottom: 2px red solid;
    }
    .userTotal samp h2{text-align: left; margin: 0; font-size: 100%;}
    .userTotal samp h2 samp{ color: green;}
  